
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    /* margin-top: -30vh; */
    overflow: hidden;
    background-color: rgba(129,174,203); 
    /* background-color: rgb(255, 255, 255);  */
    /* background-color: #b0aeb1; */
    /* background-color: #383838; */
    animation-name: background-color-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
    /* animation-delay: 1s; */
}

    @keyframes background-color-animation {
        0%{background-color: rgba(129,174,203); }
        4%{background-color: rgba(129,174,203); }
        25.3%{background-color: rgba(129,174,203);}
        33.3%{background-color: rgb(255, 255, 255);}
        60.6%{ background-color: rgb(255, 255, 255) }
        65.6%{ background-color: #b0aeb1; }
        85.6%{ background-color: #b0aeb1; }
        89.9%{background-color: #383838;}
        99.9%{background-color: #383838;}
        100%{background-color: #383838;}   
    }




li{
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
}
 


.scroll-number-container{
    background-color: transparent;
    /* padding-bottom: 150px; */
    margin-top:130px ;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    justify-content: center;
    text-align: center; 
    display: flex;
    font-size: 230px;
    font-weight: 800;
  transition: 0.5s ease-out;
  
}



.col-one{
    margin-top: -315px;
    animation-name: col-one-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
        /* animation-delay: 1s; */
    }

    @keyframes col-one-animation {
    0%{color:rgb(57, 110, 143); margin-top: -315px; }
    4%{color:rgb(57, 110, 143); margin-top: -315px; }
    25%{color:rgb(57, 110, 143); margin-top: -315px; }
    33.3%{color:#d1b68f; margin-top: -315px; }
    60.3%{color:#d1b68f; margin-top: -315px; }
    65.6%{ color: rgb(22, 31, 40,0.6);margin-top: -315px; }
    85.6%{color: rgb(22, 31, 40,0.6); margin-top: -315px; }
    89.9%{color: black; margin-top: -590px; }
    99.9%{color: black; margin-top: -590px; }
    100%{color: black;margin-top: -590px; }  
 
    
    }



.col-two{
    /* margin-top: -2565px; */
    animation-name: col-two-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
    /* animation-delay: 1s; */
    }
    
    @keyframes col-two-animation {
    
        0%{color:rgb(57, 110, 143); margin-top: -2500px;}
        4%{color:rgb(57, 110, 143); margin-top: -2500px;}
        25.3%{color:rgb(57, 110, 143); margin-top: -2500px;}
        33.3%{color:#d1b68f; margin-top: -2500px; }
        60.6%{color:#d1b68f; margin-top: -2500px; }
        65.6%{color: rgb(22, 31, 40,0.6); margin-top: -2500px;}
        85.6%{color: rgb(22, 31, 40,0.6); margin-top: -2500px;}
        89.9%{color: black; margin-top: -45px;}
        99.9%{color: black; margin-top: -45px;}
        100%{color: black; margin-top: -45px;}   

      
       }


    .col-three{
    /* margin-top: -2565px; */
    animation-name: col-three-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
    /* animation-delay: 1s; */
    }

    @keyframes col-three-animation {

        0%{color:rgb(57, 110, 143); margin-top: -1130px;}
        4%{color:rgb(57, 110, 143); margin-top: -1130px;}
        25%{color:rgb(57, 110, 143); margin-top: -1130px;}
        33.3%{color:#d1b68f; margin-top: -1675px; }
        60.3%{color:#d1b68f; margin-top: -1675px; }
        65.6%{ color: rgb(22, 31, 40,0.6);margin-top: -2500px;}
        85.6%{color: rgb(22, 31, 40,0.6); margin-top: -2500px;}
        89.9%{color: black; margin-top: -315px;}
        99.9%{color: black; margin-top: -315px;}
        100%{color: black; margin-top: -315px;}   
      


    }


    .col-four{
        /* margin-top: -2565px; */
        animation-name: col-four-animation;
        animation-duration: 15.2s;
        animation-timing-function: ease-in-out;
        animation-direction: normal; 
        animation-iteration-count: infinite;  
        /* animation-delay: 1s; */
        }
    
        @keyframes col-four-animation {
    
            0%{color:rgb(57, 110, 143); margin-top: -2220px;}
            4%{color:rgb(57, 110, 143); margin-top: -2220px;}
            25%{color:rgb(57, 110, 143); margin-top: -2220px;}
            33.3%{color:#d1b68f; margin-top: -1130px; }
            60.3%{color:#d1b68f; margin-top: -1130px; }
            65.6%{ color: rgb(22, 31, 40,0.6);margin-top: -2500px;}
            85.6%{color: rgb(22, 31, 40,0.6); margin-top: -2500px;}
            89.9%{color: black; margin-top: -2500px;}
            99.9%{color: black; margin-top: -2500px;}
            100%{color: black; margin-top: -2500px;}   
                      


        }
       
   



.car-slides{
    /* padding-top: 450px; */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



.slide-one{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: transparent;
}

.slide-one h1{
    font-size: 280px;
    font-weight: 800;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block; 
}



.slide-one img{
    height: 250px;
    width: 700px;
    position: fixed;
    top:35%;
    left: 20%;
    animation-name: first-slide-car-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite; 
    /* animation-delay: 2.9s;  */
}

@keyframes first-slide-car-animation {
0%{margin-left: 0px; }
4%{margin-left: 0px; }
25.3%{margin-left: -0px; }
33.3%{margin-left: -1200px; }
60.6%{ margin-left: -1200px;  }
66.6%{ margin-left: -1200px;  }
85.9%{ margin-left: -1200px; }
89.9%{ margin-left: -1200px; }
99.9%{ margin-left: -1200px; }
100%{ margin-left: -1200px; }   


}
    

.slide-one p{
    width: fit-content;
    text-align: center;
    position:fixed;
    top:70%;
    left: 35%;
    font-size: 70px;
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    animation-name: first-slide-text-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
}

@keyframes first-slide-text-animation {
    0%{margin-left: 0px; }
    4%{margin-left: 0px; }
    25.3%{margin-left: 0px; }
    33.3%{margin-left: -1200px; }
    60.6%{ margin-left: -1200px;  }
    66.6%{ margin-left: -1200px;  }
    85.9%{ margin-left: -1200px; }
    89.9%{ margin-left: -1200px; }
    99.9%{ margin-left: -1200px; }
    100%{ margin-left: -1200px; }    
    }



.slide-two{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: transparent;
}

.slide-two h1{
    font-size: 280px;
    font-weight: 800;
    background:#d1b68f;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
}

.slide-two img{
    height: 200px;
    width: 600px;
    position: fixed;
    top:40%;
    left: 26%; 
    margin-left:1900px;
    animation-name: second-slide-car-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite; 
    /* animation-delay: 2.9s;  */
}

@keyframes second-slide-car-animation {
0%{margin-left:1900px; }
4%{margin-left: 1900px; }
25.3%{margin-left: 1900px; }
33.3%{margin-left: -0px; }
60.6%{ margin-left: -0px;  }
66.6%{ margin-left: -1200px;  }
85.9%{ margin-left: -1200px; }
89.9%{ margin-left: -1200px; }
99.9%{ margin-left: -1200px; }
100%{ margin-left: -1200px; }

}



.slide-two p{
    width: fit-content;
    text-align: center;
    position:fixed;
    top:70%;
    left: 35%;
    font-size: 70px;
    color: rgb(22, 31, 40,0.6);
    text-align: center;
    font-weight: 800;
    animation-name: second-slide-text-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
    /* animation-delay: 1.5s; */
}

@keyframes second-slide-text-animation {
    0%{margin-left:1900px; }
    4%{margin-left: 1900px; }
    25.3%{margin-left: 1900px; }
    33.3%{margin-left: -0px; }
    60.6%{ margin-left: -0px;  }
    66.6%{ margin-left: -1200px;  }
    85.9%{ margin-left: -1200px; }
    89.9%{ margin-left: -1200px; }
    99.9%{ margin-left: -1200px; }
    100%{ margin-left: -1200px; }
    }


.slide-three{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: transparent;
}

.slide-three h1{
    font-size: 280px;
    font-weight: 800;
    background:#7a7a7a;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
}

.slide-three img{
    height: 230px;
    width: 600px;
    position: fixed;
    top:38%;
    left: 30%;
    margin-left:1900px;
    animation-name: third-slide-car-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite; 
    /* animation-delay: 2.9s;  */
}

@keyframes third-slide-car-animation {
    0%{margin-left:1900px; }
    4%{margin-left: 1900px; }
    25.3%{margin-left: 1900px; }
    33.3%{margin-left: 1900px; }
    60.6%{ margin-left: 1900px;  }
    65.6%{ margin-left: 0px;  }
    85.9%{ margin-left: 0px; }
    89.9%{ margin-left: -1200px; }
    99.9%{ margin-left: -1200px; }
    100%{ margin-left: -1200px; }

    }
    

.slide-three p{
    width: fit-content;
    text-align: center;
    position:fixed;
    top:70%;
    left: 35%;
    font-size: 70px;
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    animation-name: third-slide-text-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
    /* animation-delay: 1.5s; */
}

@keyframes third-slide-text-animation {
    0%{margin-left:1900px; }
    4%{margin-left: 1900px; }
    25.3%{margin-left: 1900px; }
    33.3%{margin-left: 1900px; }
    60.6%{ margin-left: 1900px;  }
    65.6%{ margin-left: 0px;  }
    85.9%{ margin-left: 0px; }
    89.9%{ margin-left: -1200px; }
    99.9%{ margin-left: -1200px; }
    100%{ margin-left: -1200px; }
 
}









.slide-four{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: transparent;
}

.slide-four h1{
    font-size: 280px;
    font-weight: 800;
    background:#0f0f0f;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
}

.slide-four img{
    height: 200px;
    width: 600px;
    position: fixed;
    top:38%;
    left: 33.3%;
    margin-left: 1200px;
    animation-name: fourth-slide-car-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite; 
    /* animation-delay: 2.9s;  */
}

@keyframes fourth-slide-car-animation {
    0%{margin-left:1900px; }
    4%{margin-left: 1900px; }
    25.3%{margin-left: 1900px; }
    33.3%{margin-left: 1900px; }
    60.6%{ margin-left: 1900px;  }
    65.6%{ margin-left: 1900px;  }
    85.9%{ margin-left: 1900px; }
    89.9%{ margin-left: -100px; }
    99.9%{ margin-left: -100px; }
    100%{ margin-left: -100px; }
    }
    

.slide-four p{
    width: fit-content;
    text-align: center;
    position:fixed;
    top:70%;
    left: 35%;
    font-size: 70px;
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    animation-name:  fourth-slide-text-animation;
    animation-duration: 15.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;  
    /* animation-delay: 1.5s; */
}

@keyframes fourth-slide-text-animation {
    0%{margin-left:1900px; }
    4%{margin-left: 1900px; }
    25.3%{margin-left: 1900px; }
    33.3%{margin-left: 1900px; }
    60.6%{ margin-left: 1900px;  }
    65.6%{ margin-left: 1900px;  }
    85.9%{ margin-left: 1900px; }
    89.9%{ margin-left: 0px; }
    99.9%{ margin-left: 0px; }
    100%{ margin-left: 0px; }  
}







@media only screen and (max-width:991px)  {

    
.slide-one img{
    left:12%;
}


.slide-two img{
    left:12%;
}

.slide-three img{
    left:12%;
}

.slide-four img{
    left:12%;
}

    }

@media only screen and (max-width:768px)  {
 
    body{  
         transform: rotate(90deg);
         width: 100vh;
        }

    .scroll-number-container{
        margin-top:200px; 
        
    }


        

        .slide-one img{
           width: 450px;
           height: 170px;
           left: 30%;
           top: 76%;

        }

       .slide-one p{
        margin-top:220px ;
       }


        .slide-two img{
           width: 450px;
           height: 170px;
           left: 30%;
           top: 76%;

        }

       .slide-two p{
        margin-top:220px ;
       }

        .slide-three img{
           width: 450px;
           height: 170px;
           left: 30%;
           top: 76%;

        }

     .slide-three p{
        margin-top:220px ;
     }

        .slide-four img{
           width: 450px;
           height: 170px;
           left: 38%;
           top: 76%;
           margin-left: 120px;
        }

      .slide-four p{
    margin-top:220px ;  
    margin-left:200px;

  }

}




@media only screen and (max-width:580px)  {

           

    .slide-one img{
        width: 450px;
        height: 170px;
        left: 40%;
        top: 86%;

     }

    .slide-one p{
     margin-top:220px ;
    }


     .slide-two img{
        width: 450px;
        height: 170px;
        left: 40%;
        top: 86%;

     }

    .slide-two p{
     margin-top:220px ;
    }

     .slide-three img{
        width: 450px;
        height: 170px;
        left: 40%;
        top: 86%;

     }

  .slide-three p{
     margin-top:220px ;
  }

     .slide-four img{
        width: 450px;
        height: 170px;
        left: 40%;
        top: 86%;
        margin-left: 120px;
     }

   .slide-four p{
 margin-top:220px ;  
 margin-left:200px;

}



}